body {
    margin-top: 0px;
    background-color: #F5F8FF;
}

/* shared style */
.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navigation bar */

header {
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;



}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

nav h3 {
    color: #4E47FF;
    font-size: 34px;
    font-weight: bolder;
}

nav button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.7s, scale 0.7s;

}

nav button:hover {
    opacity: 0.8;
    scale: 1.09;
}

/* banner styles */
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner-heading {
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    margin-top: 158px;

}

.banner button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    margin-bottom: 152px;
    cursor: pointer;
    transition: opacity 0.7s, scale 0.7s;

}

.banner button:hover {
    opacity: 0.8;
    scale: 1.09;
}

.banner-button {
    text-align: center;
    margin-top: 37px;

}

/* Action-section Styles */
.action-section {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 220px;
    margin-top: 116px;
    margin-bottom: 116px;
    /* margin-left: 150px;
    margin-right: 150px; */
}

.div-left {
    align-items: center;
    margin: 62px;
}

.action-button {
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    text-decoration: none;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.7s, scale 0.7s;
}

.action-button:hover {
    opacity: 0.8;
    scale: 1.09;
}

.action-heading {
    font-size: 42px;
    color: #252432;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 23px;
}

.action-subtitle {
    font-size: 24px;
    color: #252432;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 23px;
}

.action-image {
    border-radius: 48px;
}

/* Productive Users Section */

.user-section {
    max-width: 1140px;
    background-color: #E5E7FF;
    margin: 0 auto;
    padding: 50px 142px;
    border-radius: 24px;
    margin-bottom: 137px;
    transition: scale 0.45s;
}
.user-section:hover{
    scale: 1.12;
}


.user-section h2 {
    font-size: 38px;
    font-weight: bold;
    /* margin: 0;
    margin-bottom: 40px; */
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.bottom h1 {
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
    margin-bottom: 0px;
}

.bottom p {
    font-size: 20px;
    color: #72737F;
    font-weight: 400;
    margin-top: 0px;
}


/* Feedback Section */

.feedback-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 137px;

}

.feedback-section h2 {
    font-size: 42px;
}

.reviewer-info {
    display: flex;
}

.card-one {
    background-color: white;
    padding: 24px;
    border-radius: 14px;
    cursor: pointer;
    transition: scale 0.45s;
}

.card-one:hover{
    scale: 1.2;
}
.fa-rating i {
    color: #facc15;
    /* Yellow */
    font-size: 20px;
    margin-right: 4px;
}

.card-one h3 {
    font-size: 24px;
}

.card-one p {
    font-size: 16px;
    font-weight: 400;
}

.reviewer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviewer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-info {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: space-between;
}

/* focus-section */
.focus-section {
    background-color: #FFFFFF;
    max-width: 1140px;
    margin: 0 auto;
    padding: 71px 312px;
    border-radius: 14px;
    margin-bottom: 93px;
    transition: scale 0.45s;
}
.focus-section:hover{
    scale: 1.12;
}

.focus-heading {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.focus-subtitle {
    text-align: center;
    font-size: 16px;
    color: #7F7F7F;
    margin-top: 0;
    margin-bottom: 20;
}


.focus-section button {

    font-size: 16px;
    font-weight: 500;
    padding: 12px 36px;
    text-decoration: none;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.7s, scale 0.7s;

}

.focus-section button:hover {
    opacity: 0.8;
    scale: 1.09;
}

.focus-button {
    text-align: center;
}

.focus-section div {
    text-align: center;
    margin-bottom: 20px;
}

/* get in touch section */
.get-in-touch {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    gap: 95px;
    margin-bottom: 85px;
}

.get-in-touch h1 {
    font-size: 97px;
    font-weight: bold;
    /* margin-right: 30px; */
}


.right-section {}

.email-section {
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 20px 0px 20px 32px;
    margin-top: 10px;
    margin-bottom: 51px;
    border: none;
}

.name-section {
    height: 70px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 20px 0px 20px 32px;
    margin-top: 10px;
    margin-bottom: 51px;
    border: none;
}

.msg-section {
    height: 135px;
    width: 497px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 500px;
    padding: 20px 0px 85px 32px;
    margin-top: 10px;
    margin-bottom: 19px;
    border: none;
}

.get-in-touch-button {
    font-size: 16px;
    font-weight: 500;
    /* height: 62px;
    width: 497px; */
    padding: 20px 220px 20px 220px;
    text-decoration: none;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.7s, scale 0.7s;
}

.get-in-touch-button:hover {
    opacity: 0.8;
    scale: 1.09;
}

.get-in-touch-div {
    text-align: center;
}


/* footer styles */

footer {
    background-color: #FFFFFF;
    /* background-size: cover; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.max-width {
    max-width: 531px;
    margin: 0 auto;
    padding: 104px 455px;
}

.footer-heading {
    color: #4E47FF;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0px;
}

footer p {
    font-size: 16px;
    color: #8987A1;
    text-align: center;
    margin-top: 8px;
}

footer ul {
    display: flex;
    font-size: 16px;
    list-style: none;
    gap: 48px;
    margin-left: 45px;


}

footer ul a {
    text-decoration: none;
    color: #8987A1;
}